{
  "server": {
    "host": "127.0.0.1",
    "port": 5002,
    "thread_per_request": true
  },
  "nds": {
    "stopwords": {
      "el": {
        "kafka_topic": "corpus_texts",
        "elasticsearch_index": "stopwords_el",
        "max_terms": 200,
        "tokenizer": "ElTokenizer",
        "text_min_tokens_number": 30,
        "tokens_min_length": 3,
        "feed_enabled": true
      }
    },
    "updater": {
      "check_update_interval_hours": 1, 
      "version_TTL_hours": 24
    }
  },
  "kafka":
  {
    "server": "127.0.0.1",
    "port": 9092
  },
  "elasticsearch":
  {
    "connections": {
      "es": {
        "host": "127.0.0.1",
        "port": 8000,
        "url_prefix": "es"
      }
    },
    "indices_settings": {
      "stopwords_el":
      {
        "settings": {
          "number_of_shards": 1,
          "number_of_replicas": 0
        },
        "mappings": {
          "properties": {
            "tokens": {
              "type": "text",
              "fielddata":true, 
              "analyzer": "whitespace"
            }
          }
        }
      }
    }
  }
}
